/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-logo {
  height: 500px;
  width: 500px;
}

.dash-logo {
  height: 400px;
  width: 400px;
}

.wave-icon {
  height: 45px;
  width: 45px;
}

.meta-logo {
  height: 130px;
  width: 130px;
}